/* GLOBAL CSS */

h1{
     font-size: 3rem;
    font-weight: 600;
 }

h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 60px;
}

h3{
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

#w-btn{
    margin-left: 40px;
    background: #fff;
    color: rgb(3, 35, 3);
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: none;
    border:none;
}

#g-btn{
   text-decoration: none;
   background-color: #1f4a40;
   color: #fff;
    padding: 10px 25px;
    border-radius: 20px;
    cursor:pointer;
}

#bar{
    color:#fff;
    display: none;
    }




/* hero */

.hero{
    background-color:rgb(3, 35, 3) ;
}

.hero-box{
    display: flex;
    justify-content: space-between ;
    height:100vh ;
    align-items: center ;
}

.h-left{
    width: 45%;
    color: white;
}

.h-left p {
    padding:1.5rem 0;
}

.h-right{
    width: 50%;
}

.h-right img{
    width: 100%;
    object-fit:cover;
}

.search{
    position: relative;
}

.search input{
    width: 100%;
    padding: 0px 20px;
    border-radius: 35px;
    font-size:1rem;
    height: 4rem;
    border: none;
    outline: none;
}

.search a{
    position:absolute ;
    top: 12px;
    right: 20px;
}


@media (max-width:699px){
    #menu{
        background-color: bisque;
        display: block;
        width: 280px;
        height:auto;
        position: absolute;
        top: 80px;
        right: -100%;
        padding: 30px 0px;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
        border-radius: 13px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    #menu.active{
        right: 10px;
        opacity: 1;
    }

    #menu li{
        padding: 1rem;
        text-align: center;
    }

    #menu li a{
        color:#1f4a40;
    }

    #bar{
        display: block;
        font-size: 1.7rem;
        cursor: pointer;
    }

    #w-btn{
        margin-left: 20px 0 0 50px;
        background: #1f4a40;
        color:#fff;
    }
}

.sec-space{
    padding: 4rem 0;
}


.extra-space{
    padding-top: 8rem;
}

.obj-width{
    max-width: 1200px;
    margin: auto;
}

/* features section */


.features .fe-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(222, 226, 197);
}

.features .fe-box div{
    width: 200px;
    background-color: rgb(222, 226, 197);
}

.features .fe-box img{
    width: 200px;
    margin-top: 3rem;
}

/* navbar */
header{
    background-color: black;
}

#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#navbar .logo{
    width: 150px;
}

#menu{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

#menu li a {
    color:white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 500;
}

/* job section */

.jobs .job-id{
    margin-top:3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
}

.jobs .job-id li{
    padding: 20px 40px;
    cursor: pointer;
    color: #000;
}

.jobs .job-id li.active{
    background-color: rgb(3, 35, 3);
    color:#fff;
}

.jobs .jlist{
    margin-top: 3rem;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    border:2px solid #000;
    border-radius: 20px;
    align-items: center;
    justify-items: start;
    cursor: pointer;
    color:#000;
    padding: 2rem 2rem;
}

.jobs .jlist .delete{
    display:none;
}

.jobs .jlist:hover{
    box-shadow: 20px 20px 20px rgba(117, 120, 119, 0.2);
}



/* Brand section */

.trust .t-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
}

.trust .t-box img{
    margin: 1rem 1rem 1 rem 0;
    
}

/* team section */

.team-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.team-container .fl-box{
    border: 1px solid #c1c1d9;
    width: 280px;
    padding: 2rem;
    border-radius: 20px;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fl-box img{
    border-radius: 50%;
    margin-bottom: 1rem;
}

.skill{
    padding-bottom: 3rem;
}

#KEY{
    font-size: 1rem;
    background-color: pink;
    padding: 10px 20px;
    border-radius: 20px;
}

/* footer */

footer{
    background-color:rgb(3, 35, 3) ;
    color:#fff;
    padding: 4rem 0;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: start;
}

.top .logo{
    width: 170px;
    margin-bottom: 1rem;
}

.top i {
    color:#fff;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom a{
    color:#fff;
    text-decoration: none;
    line-height: 35px;
    font-size: 1rem;
}

